body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link, a:visited {
  text-decoration: none;
  color: black
}

a:hover {
  font-weight: bold;
}

.root-layout {
  margin: 1% 14% 0 14%;
}

html {
  overflow-y: overlay;
}

header {
  margin-bottom: 75px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: green;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav-box {
  margin: 55px 0 0 0;
  width: 140px;
  font-size: small;
}

.info-box-container {
  margin: 10px 10px 0 10px;
  min-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-text p {
  margin: 2px;
  justify-content: center;
}

.header-nav-content {
  display: flex;
  gap: 20px;
}

.circle-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.right-align {
  text-align: right;
}

.heading {
  font-size: 22px;
  font-weight: bold;
}

.small-text {
  font-size: 11px;
}

.link-space {
  min-width: 62px;
}

.right {
  justify-content: flex-end;
  text-align: right;
}

.active {
  font-weight: bold;
}