html {
  overflow-y: overlay;
}

body {
  margin: 0;
}

header {
  margin-bottom: 65px;
  font-size: small;
  font-family: 'Raleway', sans-serif;
}

main, footer {
  font-size: small;
  font-family: 'Raleway', sans-serif;
}

p {
  font-weight: 500;
  font-size: 16px;
}

/*----- Website scroller -----*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(174, 174, 174);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:link,
a:visited {
  text-decoration: none;
}

.active {
  color: #FF761F !important;
}